@model PhotoStudioFS.Models.Setting.ShootTypeView
@{
    ViewData["Title"] = "Sinem Kobaner / Çekim Türleri";
    ViewData["PageName"] = "Çekim Türleri";
    ViewData["IsDataTableUsed"] = true;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <style>
        .icon {
            font-size: 50px;
            margin-right: 10px;
        }
    </style>
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Yeni Çekim Türü Ekle</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <form asp-controller="Setting" asp-action="CreateShootType" method="post" id="formCreateShootType">
                    <div class="text-left text-danger" asp-validation-summary="All"></div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="form-control-label"></label>
                        <input id="name" type="text" class="form-control" asp-for="Name" placeholder="Ana sayfada görünecek Çekim Türü Adı">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" placeholder="Ana sayfada görünecek açıklama..." class="form-control">
                        </textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="shootTypePhoto" class="control-label">Kapak Fotoğrafı</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="Photo" id="shootTypePhoto" accept="image/*" onchange="onChangeShootTypePhoto(this)" required>
                            <label class="custom-file-label" for="shootTypePhoto" id="labelShootTypePhoto">Örnek kapak fotoğrafı seçiniz</label>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <img id="shootTypePreviewPhoto" class="img-fluid img-responsive" src="" alt="Çekim Türü Örnek Fotoğraf" width="200" height="200" />
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label">Ana Sayfada Görünecek icon</label>
                        <br />
                        <label class="radio-inline">
                            <input type="radio" name="Icon" value="las la-camera icon">
                            <i class="las la-camera icon"></i>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Icon" value="las la-video icon">
                            <i class="las la-video icon"></i>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Icon" value="las la-camera-retro icon">
                            <i class="las la-camera-retro icon"></i>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Icon" value="las la-photo-video icon">
                            <i class="las la-photo-video icon"></i>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Icon" value="las la-film icon">
                            <i class="las la-film icon"></i>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Icon" value="las la-file-video icon">
                            <i class="las la-file-video icon"></i>
                        </label>

                    </div>
                    <div class="form-group">
                        <input type="submit" value="Ekle" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Ekli Çekim Türleri</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="dataTable" class="table table-striped table-bordered text-nowrap w-100">
                        <thead>
                            <tr>
                                <th class="wd-5p">Fotoğraf</th>
                                <th class="wd-15p">Çekim Türü</th>
                                <th class="wd-15p">İkon</th>
                                <th class="wd-15p">Durum</th>
                                <th class="wd-15p">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var shootType in ViewBag.ShootTypes)
                            {

                                <tr>
                                    <td><img class="img-fluid img-responsive" width="75" src="@shootType.PhotoPath" alt="Alternate Text" /></td>
                                    <td>@shootType.Name</td>
                                    <td><i class="@shootType.Icon"></i></td>
                                    @if (shootType.IsActive)
                                    {
                                        <td><span class="badge badge-success">Aktif</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge badge-danger">Pasif</span></td>
                                    }
                                    <td>
                                        <button class="btn btn-sm btn-primary"
                                                onclick="onClickEditShootType(this)"
                                                data-id="@shootType.Id"
                                                data-name="@shootType.Name"
                                                data-description="@shootType.Description"
                                                data-isactive="@shootType.IsActive"
                                                data-photopath="@shootType.PhotoPath"
                                                data-icon="@shootType.Icon">
                                            Düzenle
                                        </button>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="shootTypeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="shootTypeModalTitle">Çekim Türünü Düzenle</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input hidden type="text" id="shootTypeId" value="" />
                <div class="row mb-2">
                    <div class="col-md-10">
                        <label class="form-label">Çekim Türü</label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-camera-retro tx-16 lh-0 op-6"></i>
                                </div>
                            </div><!-- input-group-prepend -->

                            <input required class="form-control" id="shootTypeName" placeholder="Çekim Türünü Yazınız..." type="text">
                        </div>

                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-10">
                        <label class="form-label">Açıklama</label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-envelope tx-16 lh-0 op-6"></i>
                                </div>
                            </div><!-- input-group-prepend -->

                            <textarea required class="form-control" id="shootTypeDesc"
                                      placeholder="Ana sayfada görünecek yazı" type="text">
                            </textarea>
                        </div>

                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <label class="form-label">Kapak Fotoğrafı</label>
                        <img id="shootTypePhoto" class="img-fluid img-responsive" src="" alt="Çekim Türü Örnek Fotoğraf" width="100" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">İkon</label>
                        <i id="shootTypeIcon"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shootTypeIsActive" />
                                <span class="custom-control-label">Durum (Aktif / Değil)</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" onclick="editShootType()" class="btn btn-primary" data-save="modal">Güncelle</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Admin/js/custom/settting.js"></script>
}