@using PhotoStudioFS.Models.ViewModels
@model EmailButtonLinkViewModel

@{
    Layout = "~/Views/Email/_EmailLayoutHtml.cshtml";
    ViewContext.ViewData["EmailTitle"] = "Fotoğraf İşleri";
}
@if (Model.Info.Type.Equals("Appointment"))
{
    <p>
        Sayın <b>@Model.Info.FullName</b> , <br />
        <b>@Model.Info.Date.ToShortDateString()</b> tarihli randevunuz onaylanmıştır.
        Randevunuzun takibini yapabilmek ve fotoğraflarınızı yüklendiği zaman görmek için, hesabınızı aktif hale getirmeniz gerekmektedir.
        <br />
        Hesabınız aktifleştirmek için şifre belirlemesi yapmanız gerekmektedir. <b>Şifre Oluştur</b> linkine giderek şifrenizi oluşturabilirsiniz.
    </p>
}
else if (Model.Info.Type.Equals("Employee"))
{
    <p>
        Sayın <b>@Model.Info.FullName</b> , <br />
        <b>@Model.Info.Date.ToShortDateString()</b> tarihinde Yöneticiniz tarafından sizin için <b>Personel</b> rolünde bir hesap oluşturuldu.
        <br />
        Hesabınızı aktif hale getirmek için şifre belirlemesi yapmanız gerekmektedir. <b>Şifre Oluştur</b> linkine giderek şifrenizi oluşturabilirsiniz.
        <br />
    </p>
}
else if (Model.Info.Type.Equals("Customer"))
{
    <p>
        Sayın <b>@Model.Info.FullName</b> , <br />
        <b>@Model.Info.Date.ToShortDateString()</b> tarihinde <b>Fotoğraf İşleri - Sinem Kobaner</b> yöneticisi tarafından sizin için bir hesap oluşturuldu.
        <br />
        Hesabınızı aktif edebilmek için şifre belirlemesi yapmanız gerekmektedir. <b>Şifre Oluştur</b> linkine giderek şifrenizi oluşturabilirsiniz.
        <br />
        Hesabınızı aktifleştirdiğiniz takdirde randevularınızın durumunu kontrol edebilir ve fotoğraflarınızı yüklendiği zaman görebilirsiniz.
        <br />
    </p>
}
else if (Model.Info.Type.Equals("ForgotPassword"))
{
    <p>
        Sayın <b>@Model.Info.FullName</b> , <br />
        <b>@Model.Info.Date.ToShortDateString()</b> tarihinde şifre sıfırlama talebinde bulundunuz.
        <br />
        Hesabınızın şifresini sıfırlamak ve yeni şifre oluşturmak için <b>Şifre Oluştur</b> linkine giderek şifrenizi oluşturabilirsiniz.
        <br />
    </p>
}


@await Html.PartialAsync("Email/_EmailButton", new EmailButtonViewModel("Şifre Oluştur", Model.ButtonLink))
<br />
<p>
    Fotoğraf İşleri - Sinem Kobaner
</p>